.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.label {
  margin-right: 25px;
}
.input {
  padding: 5px 10px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
